.description {
    background-color: $bg-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 220px 0;

    &-heading {
        text-align: center;
        font-size: 36px;
        padding: 0 120px;
    }
}