.footer {
    padding: 20px 0;
    color: $text-gray;

    .icons {
        display: flex;
        justify-content: center;
    }

    &-text {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        @include media-breakpoint-up (sm) {
            margin-top: 0;
            justify-content: flex-end;
        }
    }
}